{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Contact</h1>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: John Doe <br> Mobile: 123-456-7890 <br> Email: john@bestcars.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Lead Salesman</h5>
                    <p class="card-text">Name: Jane Smith <br> Mobile: 987-654-3210 <br> Email: jane@bestcars.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Alex Johnson <br> Mobile: 555-123-4567 <br> Email: alex@bestcars.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Emily Brown <br> Mobile: 333-444-5555 <br> Email: emily@bestcars.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-white mt-5">
        <div class="card-header">Visiting Address</div>
        <div class="card-body">
            <h5 class="card-title">Best Cars HQ<br><br>Radiator Springs, Route 66<br>Cars City, CC 12345</h5>
            <p class="card-text">Phone: 123-456-7890 <br> Email: info@bestcars.com</p>
        </div>
    </div>
</div>

{% endblock %}